<div class="col-md-6 forms-centers">

<%= form_for(question) do |f| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.select :product_id, options_for_select(@products.map{ |c| [c.name, c.id ]},question.product_id),{}, { class: 'form-control form-control-sm'} %>
  </div>

  <div class="field">
    <%= f.label :text_question %>
    <%= f.text_field :text_question ,class: "form-control form-control-sm" %>
  </div>
<br>
  <div class="actions">
    <%= link_to '<<', questions_path, class: "btn btn-default btn-sm" %>
    <%= f.submit 'Save', class: "btn btn-default btn-sm" %>
  </div>
<% end %>

</div>
