
<% if !notice.nil? %>
<p id="notice" class="notice-good"><%= notice %></p>
<% end %>
<h1 class="head-title-form"><%= link_to "<<", @order,class: "btn-back" %> Plates</h1>
  <div class="container">
  <% @plates.each do |plate| %>
    <div class="col-md-3 col-xs-12 float_left_plates">
      <div class="row">
        <div class="col">
          <h3 class="title_plate_menu text-center">Nº<%= plate.id %>: <%= plate.name %></h3>
          <%= image_tag(plate.photo, :alt => "logo",  class:"images_plates_menu img-fluid") %>
        </div>
        </div>
        <div class="row">
          <div class="col-12">
            <%= form_tag("/addPlateOrder", method: "post",:order=>@order.id,:plate=>plate.id) do %>
              <%= hidden_field_tag :order, @order.id %>
                <%= hidden_field_tag :plate, plate.id %>
              <%= submit_tag "Add",class: "btn btn-default btn-sm col-12"  %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>



</div>
