<div class="col-md-6 forms-centers">
<%= form_for(stock) do |f| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="col-md-12">
    <div class="field">
      <%= f.label :product_id %>
      <%= f.select :product_id, options_for_select(@products.map{ |c| [c.name, c.id ]},stock.product_id),{}, { class: 'form-control form-control-sm'} %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-xs-12">
    <div class="field">
      <%= f.label :quantity %>
      <%= f.number_field :quantity , class: "form-control-sm form-control"%>
    </div>
  </div>
  <div class="col-md-4 col-xs-12">
    <div class="field">
      <%= f.label :expiration_date %>
      <%= f.date_field :expiration_date, class: "form-control-sm form-control" %>
    </div>
  </div>
  <div class="col-md-4 col.xs-12">
    <div class="field">
      <%= f.label :unit_measure %>
      <%= f.select :unit_measure, options_for_select([['Kilogramo','Kg'],['Litro','L']],stock.unit_measure), {},class: "form-control-sm form-control" %>
    </div>
  </div>
</div>

  <div class="actions">
    <%= link_to '<<', stocks_path, class: "btn btn-default btn-sm" %>
    <%= f.submit 'Save', class: "btn btn-default btn-sm" %>
  </div>






<% end %>

</div>
