<h1 class="head-title-form"> Answers</h1>
<div class="container">
  <% if !notice.nil? %>
  <p id="notice" class="notice-good"><%= notice %></p>
  <% end %>
  <% if (flash[:notice_bad])  %>
  <p id="notice_bad" class="notice-bad"><%= flash[:notice_bad] %></p>
  <% end %>
  <div class="table-responsive">
  <table class="table table-sm">

  <thead>
    <tr>
      <th>Question</th>
      <th>Text answer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @answers.each do |answer| %>
      <tr>
        <td><%= answer.question.text_question  %></td>
        <td><%= answer.text_answer %></td>
        <!--<td><%= link_to 'Show', answer,class:"btn btn-default btn-sm" %></td>-->
        <td><%= link_to 'Edit', edit_answer_path(answer),class:"btn btn-default btn-sm" %></td>
        <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } ,class:"btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Answer', new_answer_path, class: "font_size_no_p" %>
