<h1 class="head-title-form"> Orders Kitchen</h1>
  <div class="container">
    <% if !notice.nil? %>
    <p id="notice" class="notice-good"><%= notice %></p>
    <% end %>

    <div class="table-responsive">
      <table class="table table-sm">
      <thead>
        <tr>
          <th>Order</th>
          <th>User</th>
          <th>Table</th>
          <th>Dish Name</th>
          <th>Delivery Time</th>
          <th>Prepared</th>
          <th></th>
        </tr>
      </thead>
 <% @dishes.each do |dish| %>
      <tbody>

        <tr>
          <td><%= dish.id %></td>
          <td><%= dish.order.user.name.to_s+" "+dish.order.user.surnames.to_s %></td>
          <td><%= dish.order.table.number %></td>
          <td><%= dish.plate.name %></td>
          <td>
            <%if dish.order.delivery_time_kitchen.strftime("%H:%M:%S") > dish.created_at.strftime("%H:%M:%S")%>
              <%=  dish.order.delivery_time_kitchen.strftime("%H:%M:%S") %>
            <%else%>
              <%= dish.created_at.strftime("%H:%M:%S") %>
            <%end%>
          </td>
          <td><%= dish.prepared %></td>
          <td><%= link_to 'Yes/No', '',class:"btn btn-default btn-sm" %></td>
        </tr>
    </tbody>
  <% end%>
</table>
</div>
