<%= form_for(dishes_product) do |f| %>
  <% if dishes_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dishes_product.errors.count, "error") %> prohibited this dishes_product from being saved:</h2>

      <ul>
      <% dishes_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plate_id %>
    <%= f.text_field :plate_id %>
  </div>

  <div class="field">
    <%= f.label :product_id %>
    <%= f.text_field :product_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
