<h1 class="head-title-form"><%= link_to "<<", @plate %> Dish products: <%= @plate.name%></h1>
  <div class="container">
    <% if !notice.nil? %>
    <p id="notice" class="notice-good"><%= notice %></p>
    <% end %>

<div class="table-responsive">
    <table class="table table-sm">
  <thead>
    <tr>
      <th>Plate</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @dishes_products.each do |dishes_product| %>
      <tr>
        <td><%= dishes_product.plate.name %></td>
        <td><%= dishes_product.product.name %></td>
        <td><%= dishes_product.quantity %></td>
        <td><%= dishes_product.unit_measure %></td>
        <td><%= link_to 'Edit', '/plates/'+dishes_product.plate.id.to_s+'/products/edit/'+dishes_product.id.to_s ,class: "btn btn-default btn-sm" %></td>
        <td><%= link_to 'Destroy', '/plates/'+dishes_product.plate.id.to_s+'/products/'+dishes_product.id.to_s, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Product', '/plates/'+@plate_id.to_s+'/products/new', class: "font_size_no_p" %>
</div>
