
<h1 class="head-title-form"> Categories</h1>
  <div class="container">
    <% if !notice.nil? %>
    <p id="notice" class="notice-good"><%= notice %></p>
    <% end %>
    <% if (flash[:notice_bad])  %>
    <p id="notice_bad" class="notice-bad"><%= flash[:notice_bad] %></p>
    <% end %>
<div class="table-responsive">
    <table class="table table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.name %></td>
          <td>
            <!--<%= link_to 'Show', category,class:"btn btn-default btn-sm" %>-->
            <%= link_to 'Edit', edit_category_path(category),class:"btn btn-default btn-sm" %>
            <%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-default btn-sm" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>

  <%= link_to 'New Category', new_category_path, class: "font_size_no_p" %>
</div>
