<div class="col-md-6 forms-centers">

<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-12 col.xs-12">
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name , class: "form-control-sm form-control" %>
    </div>
  </div>
  <div class="col-md-6 col.xs-12">
    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price , class: "form-control-sm form-control" %>
    </div>
  </div>
  <div class="col-md-6 col.xs-12">
    <div class="field">
      <%= f.label :unit_measure %>
      <%= f.select :unit_measure, options_for_select([['Kilogramo','Kg'],['Litro','L']],product.unit_measure), {},class: "form-control-sm form-control" %>
    </div>
  </div>
</div>

<br>
  <div class="actions">
    <%= link_to '<<', products_path, class:"btn btn-default btn-sm" %>
    <%= f.submit 'Save', class:"btn btn-default btn-sm" %>
  </div>
<% end %>

</div>
