<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <% if(session[:auth]['orders']) %>
      <li class="nav-item active">
        <%= link_to "Orders", orders_path, :class => "nav-link" %>
      </li>
      <% end %>
      <% if(session[:auth]['menu']) %>
      <li class="nav-item">
        <%= link_to "Dishes", plates_path, :class => "nav-link" %>
      </li>
      <% end %>
      <% if(session[:auth]['create_plate']) %>
      <li class="nav-item">
        <%= link_to 'Create Dish', new_plate_path, class: "nav-link" %>
      </li>
      <% end %>
      <% if(session[:auth]['category'] || session[:auth]['tables']) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Configuration
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <% if(session[:auth]['category']) %>
          <%= link_to "Categories", categories_path, :class => "dropdown-item" %>
          <% end %>
          <% if(session[:auth]['tables']) %>
          <%= link_to "Tables", tables_path, :class => "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <% end %>
      <% if(session[:auth]['orders_history']) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Management
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <% if(session[:auth]['orders_history']) %>
            <%= link_to 'Orders History' , {controller: "orders", action: "history"},:class => "dropdown-item" %>
          <% end %>
        </div>
      </li>
      <% end %>
      <% if(session[:auth]['profile_id'] == 1) %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="Preview">
          <%= link_to "Profiles", profiles_path, :class => "dropdown-item" %>
          <%= link_to "Users", users_path, :class => "dropdown-item" %>
        </div>
      </li>
      <% end %>
    </ul>

    <!-- DERECHA DEL MENU -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <%= session[:auth]['name']%>
        </a>
        <div class="dropdown-menu left-options-nav" aria-labelledby="Preview">
          <%= link_to "Log out", '/logout', :class => "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</nav>
