<!DOCTYPE html>
<html>
  <head>
    <title>Restaurant</title>

    <%= csrf_meta_tags %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', async: true %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  </head>

  <body>
    <% if (!session[:auth].nil?)  %>
      <%= image_tag("app-restaurante.png", :alt => "logo", :id => "logo") %>
      <%= render 'layouts/navbar' %>
    <% end %>
    <% if (flash[:danger])  %>
    <p id="danger"><%= flash[:danger] %></p>
    <% end %>
    <%= yield %>

  </body>
</html>
